@import '../variables';

.app-catalog {
    &-items {
        margin-top: 1rem;
    }

    &-item {
        margin-bottom: 1.5rem;
        text-align: center;
        width: 33%;
        display: inline-block;
        float: none !important;

        @media screen and (max-width: $media-screen-m) {
            width: 50%;
        }

        @media screen and (max-width: $media-screen-s) {
            width: 100%;
        }
    }
}